<!-- rbenv 2.5.0-dev -->

<main id="posts-home">
	
	<% if user_signed_in? %>
		<div class="groups">
			<div class="groups-title">Group Links</div>
			<% @all_users.each do |user| %>
			  <div class="user">
			    <p>
			      <strong><%=h user %></strong>
			      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
			      <div class="clear"></div>
			    </p>
			  </div>
			<% end %>
		</div>
	<% end %>

	<div class="wall">
		<div class="wall-title">Posts</div>
		<div class="new-post-form">
			<% if user_signed_in? %>
				<%= form_for @post, remote: true do |f|%>
					
				    <%= f.label :content %>
				    <%= f.text_area :content %>
				   

				    <%= f.submit %>
				<%end%>
			<%end%>
	    </div>
	    <div class="display-posts" id="posts-list">
	    	<% @posts.reverse.each do |p| %>
	    		<%= render 'post', p: p %>	
		    <% end %>
	    </div>

	</div>

	<% if user_signed_in? %>
		<div class="friends">
			<div class="friends-title">Friends</div>
			<input id="user-search" type="text" placeholder="Search...">
		</div>
	<% end %>
	<script type="text/javascript">
	{
		var users = <%= "#{@all_users}".html_safe %>;
		var user_ids = <%= "#{@user_ids}".html_safe %>;
		 $( "#user-search" ).autocomplete({
		      source: users,
		      select: function( event, ui ) {
		      	 console.log(event);
		      	 console.log(ui.item);
		      	 $( "#user-search" ).val(ui.item.value);
		      	 console.log(user_ids[users.indexOf(ui.item.value)]);
		      	// console.log(user_ids[]);
		      	
		      	window.location = '/users/profile/' + user_ids[users.indexOf(ui.item.value)];
		      }
		    });
	}
	
	</script>

</main>