<!DOCTYPE html>
<html>
  <head>
    <title>Connecti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="common-header">
      <div class = "logo">
        <!-- <img src="http://brandmark.io/logo-rank/random/bp.png"> -->
        <img width="95" src="https://www.seoclerk.com/pics/551103-1TOqFD1502285018.jpg">
      </div>
      <h1>CONNECTi</h1>
      <div id="auth-info-links">
        <% if user_signed_in? %>
          <h3><%= current_user.email %></h3>
          <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></p>
        <% else %>
          <p><%= link_to "Sign In", new_user_session_path %> </p>
          <p><%= link_to "Sign Up", new_user_registration_path %> </p>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
